<div style="display: flex; flex-direction: column;">
  <mat-label style="text-align: center; margin: 8px 0;"> <strong>Editar Perfil</strong></mat-label>
  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input
      matInput
      name="name"
      minlength="3"
      maxlength="100"
      [(ngModel)]="user.name_user"
      type="text"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      matInput
      name="email"
      minlength="3"
      maxlength="100"
      [(ngModel)]="user.email"
      type="email"
      required
    />
  </mat-form-field>
  <div style="display: flex; justify-content: space-between;">
    <button mat-raised-button mat-dialog-close>
      Cancelar
    </button>
    <button
      mat-raised-button
      style="background-color: #3c7eff;"
      (click)="saveUser()"
      color="primary"
    >
      Salvar
    </button>
  </div>
</div>
