<div style="display: flex; flex-direction: column;">
  <mat-label style="text-align: center;"> <strong>Alerta</strong></mat-label>
  <mat-label style="text-align: center; margin: 16px 0;">
    Digite a nova senha com no minimo 8 caracteres
  </mat-label>
  <mat-form-field appearance="outline">
    <mat-label>Digite a Nova Senha</mat-label>
    <input
      matInput
      name="newPassword"
      minlength="8"
      maxlength="30"
      [(ngModel)]="newPassword"
      type="text"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Digite novamente a Senha</mat-label>
    <input
      matInput
      name="newPasswordConfirm"
      minlength="8"
      maxlength="30"
      [(ngModel)]="newPasswordConfirm"
      type="text"
      required
    />
  </mat-form-field>
  <div style="display: flex; justify-content: space-between;">
    <button mat-raised-button mat-dialog-close>
      Cancelar
    </button>
    <button
      mat-raised-button
      style="background-color: #3c7eff;"
      (click)="savePassword()"
      [disabled]="
        newPasswordConfirm &&
        newPasswordConfirm.length <= 7 &&
        newPassword &&
        newPassword.length <= 7
      "
      color="primary"
    >
      Salvar
    </button>
  </div>
</div>
