<div id="container">
  <app-sidebar rowSelected="sale"></app-sidebar>
  <div class="content">
    <h1 style="font-weight: 500; color: #1e88e5; text-align: center;margin: 8px;">
      <span class="material-icons">
        bubble_chart
      </span>
      Cadastro de Vendas
    </h1>
    <mat-horizontal-stepper [linear]="true" labelPosition="bottom" #stepper>
      <mat-step [stepControl]="saleClient">
        <form [formGroup]="saleClient">
          <ng-template matStepLabel>Cliente</ng-template>
          <app-sale-client (client)="setClient($event)"></app-sale-client>
          <div style="display: flex; justify-content: space-between;">
            <button mat-raised-button (click)="openDialogBack()">Cancelar</button>
            <button mat-raised-button color="primary" matStepperNext>Proximo</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="salePart">
        <form [formGroup]="salePart">
          <ng-template matStepLabel>Peças</ng-template>
          <app-sale-part (parts)="setParts($event)"></app-sale-part>
          <div style="display: flex; justify-content: space-between;">
            <button mat-raised-button matStepperPrevious>Voltar</button>
            <button mat-raised-button color="primary" matStepperNext>Proximo</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="saleScheduling">
        <form [formGroup]="saleScheduling">
          <ng-template matStepLabel>Agendamento</ng-template>
          <app-sale-scheduling (scheduling)="setScheduling($event)"></app-sale-scheduling>
          <div style="display: flex; justify-content: space-between;">
            <button mat-raised-button matStepperPrevious>Voltar</button>
            <button mat-raised-button color="primary" matStepperNext>Proximo</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="salePayment">
        <form [formGroup]="salePayment">
          <ng-template matStepLabel>Pagamento</ng-template>
          <app-sale-payment [sale]="sale" (payment)="setPayment($event)"></app-sale-payment>

          <div style="display: flex; justify-content: space-between;">
            <button mat-raised-button matStepperPrevious>Voltar</button>
            <button
              mat-raised-button
              (click)="openDialogSave()"
              style="background-color: #3acc6c; color: white;"
            >
              Finalizar
            </button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
