<div id="container">
  <div style="display: flex; flex-direction: column;">
    <h2 mat-dialog-title>{{ !object.name ? 'Criação de Peça ' : 'Edição de Peça' }}</h2>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="object.name"
        autocomplete="off"
        placeholder="Digite a aqui"
        (keyup.enter)="sendName()"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Unidade</mat-label>
      <input matInput type="text" [(ngModel)]="object.name" autocomplete="off" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Valor Unitario</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="object.name"
        autocomplete="off"
        placeholde
        r="R$0,00"
        (keyup.enter)="sendName()"
      />
    </mat-form-field>
  </div>
  <div class="content-button" style="display: flex; justify-content: space-between;">
    <button mat-raised-button mat-dialog-close>Cancelar</button>
    <button
      mat-raised-button
      class="btn-save"
      [disabled]="formInvaldid()"
      (click)="sendName()"
      cdkFocusInitial
    >
      Salvar
    </button>
  </div>
</div>
