<div id="content">
  <div class="content-scheduling">
    <h1>
      Pagamento
    </h1>
    <div>
      <div class="group-field">
        <mat-form-field class="input-field" appearance="outline">
          <mat-label>Credito</mat-label>
          <input [(ngModel)]="credit" (ngModelChange)="setValue($event,credit)" type="number" matInput />
        </mat-form-field>
        <mat-form-field class="input-field" appearance="outline">
          <mat-label>Debito</mat-label>
          <input [(ngModel)]="debit" (ngModelChange)="setValue($event,debit)" type="number" matInput />
        </mat-form-field>
        <mat-form-field class="input-field" appearance="outline">
          <mat-label>Dinheiro</mat-label>
          <input [(ngModel)]="money" (ngModelChange)="setValue($event,money)" type="number" matInput />
        </mat-form-field>
        <mat-form-field class="input-field" appearance="outline">
          <mat-label>Cheque</mat-label>
          <input [(ngModel)]="check" (ngModelChange)="setValue($event,check)" type="number" matInput />
        </mat-form-field>
      </div>
      <div class="group-field">
        <mat-form-field class="input-field" appearance="outline">
          <mat-label>Descontos</mat-label>
          <span matSuffix>%</span>
          <input [(ngModel)]="discount" (ngModelChange)="setValue($event,discount)" type="number" matInput />
        </mat-form-field>
        <mat-form-field class="input-field" appearance="outline">
          <mat-label>Juros</mat-label>
          <span matSuffix>%</span>
          <input [(ngModel)]="interest" (ngModelChange)="setValue($event,interest)" type="number" matInput />
        </mat-form-field>
        <mat-form-field class="input-field" appearance="outline">
          <mat-label>Troco</mat-label>
          <input [(ngModel)]="changeMoney" readonly type="text" matInput />
        </mat-form-field>
      </div>
      <div class="group-total">
        <div>
          <h1 style="display: inline; font-weight: 900;">A receber</h1>
          <h2>{{ getValue(receiveValue) }}</h2>
        </div>
        <div>
          <h1 style="display: inline; font-weight: 900;">Valor Pago</h1>
          <h2>{{ getValue(payValue) }}</h2>
        </div>
        <div>
          <h1 style="display: inline; font-weight: 900;">Valor Total</h1>
          <h2>{{ getValue(valueTotal) }}</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="content-img">
    <img src="./../../../../../assets/cartao.svg" />
  </div>
</div>
