#content {
  display: flex;
  margin-top: 40px;
}

.content-scheduling {
  width: 70%;
  h1 {
    color: #f67b09;
    font-weight: 600;
  }
  div {
    margin-left: 8px;
  }
}

.content-img {
  display: flex;
  justify-content: center;
  width: 40%;
  img {
    width: 60%;
  }
}

.input-field {
  margin: 0 8px;
  padding: 32px 8px;
}

.group-field {
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
  border: 3px solid #1e88e5;
  border-radius: 5px;
}

.group-total {
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
  div {
    text-align: center;
  }
}
