<div id="content">
  <div style="display: flex;justify-content: flex-end;margin: 8px 16px;">
    <span style="cursor: pointer;" mat-dialog-close class="material-icons">
      close
      </span>
  </div>
  <mat-tab-group dynamicHeight  mat-align-tabs="center">
    <mat-tab label="CLIENTES">
      <div style="margin: 16px;">
        <div style="display: flex;flex-direction: column;"> 
          <mat-form-field class="input-field" appearance="outline">
            <mat-label>Cliente</mat-label>
            <input type="text" [(ngModel)]="sale.client.nome" readonly matInput />
          </mat-form-field>
          <mat-form-field class="input-field" appearance="outline">
            <mat-label>CPF/CNPJ</mat-label>
            <input type="text" [(ngModel)]="sale.client.cpf_cnpj" readonly matInput />
          </mat-form-field>
          <mat-form-field class="input-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="text" [(ngModel)]="sale.client.email" readonly matInput />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Contatos</mat-label>
            <mat-select>
              <mat-option disabled *ngFor="let contact of sale.client.contato" [value]="contact">
                {{contact}}
              </mat-option>
            </mat-select>
          </mat-form-field>          
        </div>
      </div>
    </mat-tab>


    <mat-tab label="PEÇAS">
      <div style="margin:16px" id="container-table">

        <div class="content-button">
          <div>
            <h1 style="color: #f67b09; font-weight: 600;">
              Peças
            </h1>
          </div>
         
        </div>
    
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> NOME </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.piece }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="characteristics">
            <mat-header-cell *matHeaderCellDef> CARACTERISTICAS </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
              <mat-form-field style="width: 80%;" appearance="outline">
                <mat-label>Caracteristicas</mat-label>
                <mat-select >
                  <mat-option disabled *ngFor="let characteristics of element.characteristics" [value]="characteristics">{{
                    characteristics.characteristic_name
                  }}</mat-option>
                </mat-select>
              </mat-form-field>  
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="colors">
            <mat-header-cell *matHeaderCellDef> CORES </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
              <mat-form-field style="width: 80%;" appearance="outline">
                <mat-label>Cores</mat-label>
                <mat-select >
                  <mat-option disabled *ngFor="let color of element.colors" [value]="color">{{
                    color.color_name
                  }}</mat-option>
                </mat-select>
              </mat-form-field>  
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="defects">
            <mat-header-cell *matHeaderCellDef> DEFEITOS </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-form-field style="width: 80%;" appearance="outline">
                <mat-label>Defeitos</mat-label>
                <mat-select >
                  <mat-option disabled *ngFor="let defect of element.defects" [value]="defect">{{
                    defect.defect_name
                  }}</mat-option>
                </mat-select>
              </mat-form-field>  
            </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef> QUANTIDADE </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.amount }} </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="measure">
            <mat-header-cell *matHeaderCellDef> MEDIDA </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.unity }} </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="quantityUnity">
            <mat-header-cell *matHeaderCellDef> VALOR (U) </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{  getValue(element.value_unity) }} </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="quantityTotal">
            <mat-header-cell *matHeaderCellDef> VALOR (T) </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{  getValue(element.value_total) }} </mat-cell>
          </ng-container>
    
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row
            class="row-table"
            *matRowDef="let row; columns: displayedColumns"
            (mouseenter)="mouseEnter(row)"
            (mouseleave)="mouseLeave(row)"
          ></mat-row>
        </mat-table>
    
        <div class="content-paginator">
          <mat-paginator
            [length]="data.length"
            [pageIndex]="pageIndex"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25]"
            (page)="pageEvent = getServerData($event)"
          >
          </mat-paginator>
        </div>
      </div>
    </mat-tab>


    <mat-tab label="PAGAMENTO"> 
      <div style="display: flex; justify-content: center; margin: 16px 0;">
        <mat-form-field style="margin: 0 8px;" appearance="legacy">
          <mat-label>Data de Entrada</mat-label>
          <input type="date" [ngModel] ="sale.date_input | date:'yyyy-MM-dd'"  matInput />
        </mat-form-field>
        <mat-form-field style="margin: 0 8px;" appearance="legacy">
          <mat-label>Data de Entrega</mat-label>
          <input type="date" [ngModel]="sale.date_ouput | date:'yyyy-MM-dd'"  matInput />
        </mat-form-field>
        <mat-form-field  style="margin: 0 8px;" appearance="legacy">
          <mat-label>Data de Pagamento</mat-label>
          <input type="date" [readonly]="paymentSelect == 'Não'" [(ngModel)]="this.sale.date_payment"  matInput />
        </mat-form-field>
        <mat-form-field  style="margin: 0 8px;" appearance="legacy">
          <mat-label>Data de Retirada</mat-label>
          <input type="date" [readonly]="partSelect == 'Não'" [ngModel]="sale.date_removed | date:'yyyy-MM-dd'"  matInput />
        </mat-form-field>
       </div>

       <div>
        <div style="margin: 8px;">
          <label style="font-weight: 600;">Forma de Pagamento</label>
           <div style="border: 3px solid #3c7eff;border-radius: 5px;padding-top: 1.34375em; display: flex;justify-content: space-around;">
              <mat-form-field class="input-field"  appearance="outline">
                <mat-label>Credito</mat-label>
                <input type="number" [(ngModel)]="sale.payment.credit_card" (ngModelChange)="calculation()" matInput />
              </mat-form-field>
        
              <mat-form-field class="input-field"  appearance="outline">
                <mat-label>Debito</mat-label>
                <input type="number" [(ngModel)]="sale.payment.debit_card" (ngModelChange)="calculation()" matInput />
              </mat-form-field>
        
              <mat-form-field class="input-field"  appearance="outline">
                <mat-label>Dinheiro</mat-label>
                <input type="number" [(ngModel)]="sale.payment.money_pay" (ngModelChange)="calculation()" matInput />
              </mat-form-field>
        
              <mat-form-field class="input-field"  appearance="outline">
                <mat-label>Cheque</mat-label>
                <input type="number" [(ngModel)]="sale.payment.check_pay" (ngModelChange)="calculation()" matInput />
              </mat-form-field>
           </div>
         </div>

         <div style="margin: 8px;">
          <label style="font-weight: 600;">Controle do Pagamento</label>
          <div style="border: 3px solid #3c7eff;border-radius: 5px; padding-top: 1.34375em;">
    
            <div style="display: flex; justify-content: space-around;">
              <mat-form-field class="input-field" appearance="outline">
                <mat-label>Desconto</mat-label>
                <span matSuffix>%</span>
                <input type="number" [(ngModel)]="sale.payment.discount" (ngModelChange)="calculation()" matInput />
              </mat-form-field>
      
              <mat-form-field class="input-field" appearance="outline">
                <mat-label>Juros</mat-label>
                <span matSuffix>%</span>
                <input type="number" readonly [(ngModel)]="sale.payment.interest" (ngModelChange)="calculation()" matInput />
              </mat-form-field>
      
             
              <mat-form-field class="input-field" appearance="outline">
                <mat-label>A Receber</mat-label>
                <input [ngModel]="getValue(sale.payment.amount_paid)" readonly matInput />
              </mat-form-field>
    
              <mat-form-field class="input-field" appearance="outline">
                <mat-label>Valor Total</mat-label>
                <input [ngModel]="getValue(sale.payment.value_total)" readonly matInput />
              </mat-form-field>
            </div>
    
          </div>
        </div>

       </div>

       <div style="margin: 8px;">
        <label style="font-weight: 600;">Controle da Ordem de Serviço</label>
        <div style="border: 3px solid #3c7eff;border-radius: 5px;padding-top: 1.34375em; display: flex;justify-content: space-between;padding: 8px;">
  
          <mat-form-field appearance="fill">
            <mat-label>Situação da Venda</mat-label>
            <mat-select [(ngModel)]="sale.situation" >
              <mat-option *ngFor="let situation of situationPay" [value]="situation">
                {{situation}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label>Serviço Pago</mat-label>
            <mat-select [(ngModel)]="paymentSelect" (selectionChange)="cleanDate()"> 
              <mat-option  *ngFor="let x of paymentOptions" [value]="x">
                {{x}}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Peças Retiradas</mat-label>
            <mat-select [(ngModel)]="partSelect" (selectionChange)="cleanDate()">
              <mat-option  *ngFor="let y of partsOutputOptions" [value]="y">
                {{y}}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
        </div>
      </div>

       <div style="margin: 16px 16px;display: flex;justify-content: flex-end;">
         <button mat-raised-button style="margin-right: 8px;" type="button">Cancelar</button>
         <button mat-raised-button style="background-color: chartreuse;color: white;" (click)="sendSale()" type="button">Atualizar</button>
       </div>

     
    </mat-tab>
  </mat-tab-group>
</div>