<mat-dialog-content>
    <h3>Nova Senha</h3>

    <div id='passwordDiv'>
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" value="{{resetPass}}" readonly>
            <span style="cursor: pointer;" class="material-icons" matSuffix (click)="hide = !hide">{{hide? 'visibility_off' : 'visibility'}}</span>
        </mat-form-field>

        <button mat-stroked-button color="basic" [cdkCopyToClipboard]='copyPassword()'>Copiar</button>
    </div>

    <mat-dialog-actions align="end">
        <button id="confirmButton" mat-button (click)='savePassword()'>Fechar</button>
    </mat-dialog-actions>
</mat-dialog-content>