<mat-dialog-content>
    <h3>Nova Senha</h3>

    <div id='passwordDiv'>
        <mat-form-field appearance="outline" matTooltip='A senha deve Conter 8 Caracteres no Minimo.'>
            <mat-label>Senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="resetPass">
            <span style="cursor: pointer;" class="material-icons" matSuffix (click)="hide = !hide">{{hide? 'visibility_off' : 'visibility'}}</span>
            <mat-error *ngIf='resetPass.invalid'>{{createMesssageError()}}</mat-error>        
        </mat-form-field>

        <button mat-stroked-button color="basic" [cdkCopyToClipboard]='copyPassword()'>Copiar</button>
    </div>

    <mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]='false'>Cancelar</button>
        <button id="confirmButton" mat-button (click)='savePassword()'>Confirmar</button>
    </mat-dialog-actions>
</mat-dialog-content>