<div id="container">
  <div class="content-button">
    <div>
      <mat-form-field appearance="standard">
        <mat-label style="color: #3c7eff;">Filtro</mat-label>
        <input
          matInput
          placeholder="Placeholder"
          [(ngModel)]="searchValue"
          (keyup)="filter()"
          autocomplete="off"
        />
      </mat-form-field>
    </div>
    <div style="padding-bottom: 1.34375em;">
      <button mat-stroked-button class="btn btn-blue" (click)="openDialog()">
        Novo
      </button>
    </div>
  </div>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <ng-container *ngIf="name == 'Cor'" matColumnDef="hexadecimal">
      <mat-header-cell *matHeaderCellDef> Hexadecimal </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span
          class="material-icons"
          style="margin-right: 8px;"
          [ngStyle]="{ color: element.hexadecimal }"
        >
          fiber_manual_record
        </span>
        {{ element.hexadecimal }}
      </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell style="justify-content: center;" *matCellDef="let element">
        <span class="btn-icon span-blue" (click)="openDialog(element)"
          >Editar</span
        >
      </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell style="justify-content: center;" *matCellDef="let element">
        <span class="btn-icon span-blue" (click)="remove(element)"
          >Deletar</span
        >
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      class="row-table"
      *matRowDef="let row; columns: displayedColumns"
      (mouseenter)="mouseEnter(row)"
      (mouseleave)="mouseLeave(row)"
    ></mat-row>
  </mat-table>

  <div class="content-paginator">
    <mat-paginator
      [length]="data.length"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25]"
      (page)="pageEvent = getServerData($event)"
    >
    </mat-paginator>
  </div>
</div>
