#container {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  .content {
    margin: 32px;
    width: 100%;
    overflow: hidden;
    // height: 100%;
    #container-table {
      display: flex;
      flex-direction: column;
      // border: 1px solid #d3d3d3;
      // padding: 16px;
      height: 500px;
      width: 100%;
    }

    .content-button {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      div:first-child {
        width: 60%;
        mat-form-field {
          width: 100%;
        }
        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
          border-radius: 0px !important;
        }
        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
          border-radius: 0px !important;
        }
      }
      .group-buttons {
        padding-bottom: 1.34375em;
        button {
          margin: 0 8px;
        }
      }
    }
  }
}

#container-table {
  mat-table {
    width: 100%;
    box-shadow: none;
  }
}

.sucess {
  color: green;
}

.danger {
  color: red;
}
