<div id="container">
  <app-sidebar rowSelected="property"></app-sidebar>
  <div class="content">
    <mat-tab-group class="tab" mat-align-tabs="center">
      <mat-tab class="tab" label="Cores">
        <ng-template mat-tab-label class="mat-tab">
          <span class="material-icons">
            palette
          </span>
          Cores
        </ng-template>
        <app-simple-table
          [dataSource]="dataSourceColor"
          [name]="'Cor'"
        ></app-simple-table>
      </mat-tab>
      <mat-tab class="tab" label="Defeitos">
        <ng-template mat-tab-label class="mat-tab">
          <span class="material-icons">
            texture
          </span>
          Defeitos
        </ng-template>
        <app-simple-table
          [dataSource]="dataSourceDefect"
          [name]="'Defeito'"
        ></app-simple-table>
      </mat-tab>
      <mat-tab class="tab" label="Caracteristica">
        <ng-template mat-tab-label class="mat-tab">
          <span class="material-icons">
            bubble_chart
          </span>
          Caracteristicas
        </ng-template>
        <app-simple-table
          [dataSource]="dataSourceFeature"
          [name]="'Caracteristica'"
        ></app-simple-table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
