<div id="container">
    <div id="content">
        <!-- <div id="inicial">
            <p>Selecione um Usuário ou Crie um Novo</p>
            <mat-icon svgIcon="bubbleIcon"></mat-icon>
        </div> -->

        <div id="createUser">
            <p>Criação do Usuário</p>
                <!-- <mat-form-field appearance="outline"> -->
                    <input
                      appearence='outline'
                      matInput
                      placeholder="Nome"
                      autocomplete="off"
                    />
                  <!-- </mat-form-field> -->
        </div>
    </div>
</div>