#container {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;

    #content, #inicial{
        height: 100%;
        width: 100%;
        
        padding: 50px;

        display: flex;
        flex-direction: column;

        align-items: center;
        padding-top: 100px;

        overflow: auto;

        p{
            font-size: 45px;
            color: #3C7EFF;
            border-bottom: 1px solid #3C7EFF;
            padding: 30px;
            box-shadow: 0px 5px 2px -2px rgba(0, 0, 0, 0.25);
            margin-bottom: 80px;
            text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
        }
        mat-icon {
            width: 250px;
            height: 284px;
        }
    }

    #createUser{
        display: flex;
        flex-direction: column;

        #create-levelSelect{
            width: 200px;
        }
        mat-icon{
            // Sem isso o 
            margin: auto;
            height: 35px;
            width: 35px;
        }
        
        #buttonsDiv{
            // position: absolute;
            // bottom: 30px;
            // right: 200px;

            padding-left: 40%;

            button{
                margin: 0 20px;
            }
        }
        
    }

    #viewUser{
        display: flex;
        flex-direction: column;

        width: 500px;

        // align-items: center;

        mat-icon{
            margin: 0 auto 25px;
        }
        input{
            color: black;
            opacity: 0.9;
        }

        #buttonsDiv{
            display: flex;
            flex-direction: column;
            padding-left: 75%;
            
            button{
                margin: 5px 0;
                width: 130px;
            }

            button:last-child{
                background-color: white;
                border: none;
                cursor: pointer;

                text-decoration: underline 1px #4D8AE4;
                color: #4D8AE4;
            }
        }
    }

    #editUser{
        display: flex;
        flex-direction: column;

        width: 500px;

        mat-icon{
            margin: 0 auto 25px;
        }

        #buttonsDiv{
            display: flex;
            flex-direction: row-reverse;
            button{
                margin: 10px;
                align-self: right;
            }
        }
    }

    
    ::-webkit-scrollbar{
        width: 5px;
    }
    ::-webkit-scrollbar-button{
        display: none;
    }
    ::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
     
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #3C7EFF;
    }

}