#container {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;

    #content, #inicial{
        height: 100%;
        width: 100%;

        margin: 50px;

        display: flex;
        flex-direction: column;

        align-items: center;
        margin-top: 150px;

        p{
            font-size: 45px;
            color: #3C7EFF;
            border-bottom: 1px solid #3C7EFF;
            padding: 30px;
            box-shadow: 0px 5px 2px -2px rgba(0, 0, 0, 0.25);
            margin-bottom: 80px;
            text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
        }
        mat-icon {
            width: 250px;
            height: 284px;
        }
    }

    #createUser{

        display: flex;
        flex-direction: column;
        
    }

    #viewUser{
        display: flex;
        flex-direction: column;

        ::placeholder{
            color: black;
            opacity: 0.7;
        }

        #buttonsDiv{
            display: flex;
            flex-direction: column;
        }
    }

}