<div id="container">
    <div id="content">
        <div id="inicial" *ngIf="viewPages.initial">
            <p>Selecione um Usuário ou Crie um Novo</p>
            <mat-icon svgIcon="bubbleIcon"></mat-icon>
        </div>

        <!-- <div id="createUser">
            <p>Criação do Usuário</p>

            <mat-form-field appearance="outline" id='create-levelSelect'>
                <mat-label>Nivel da Conta</mat-label>
                    <mat-select [(ngModel)]="createSelectedLevel" name="level">
                        <mat-option *ngFor="let level of levels" [value]="levels.indexOf(level)+1">
                            {{level}}
                        </mat-option>
                    </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <input
                    appearence='outline'
                    matInput
                    [formControl]="createName"
                    placeholder="Nome"
                    autocomplete="off"
                    required
                />
                <mat-error *ngIf='createName.invalid'>{{createMesssageError('createName')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <input
                    appearence='outline'
                    matInput
                    [formControl]="createEmail"
                    placeholder="E-mail"
                    autocomplete="off"
                    required
                />
                <mat-error *ngIf='createEmail.invalid'>{{createMesssageError('createEmail')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" matTooltip='A senha deve Conter 8 Caracteres no Minimo.'>
                <mat-label>Senha</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="createPass">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf='createPass.invalid'>{{createMesssageError('createPass')}}</mat-error>
              </mat-form-field>

            <mat-form-field appearance="outline" matTooltip="Repita a Senha Digitada no Campo Acima">
                <mat-label>Confirmar Senha</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControl]='confirmCreatePass'> 
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf='confirmCreatePass.invalid'>{{createMesssageError('confirmCreatePass')}}</mat-error>
              </mat-form-field>

              <div id="buttonsDiv">
                <button mat-raised-button color="basic" id='newUserBtn'>Cancelar</button>
                <button mat-raised-button color="primary" id='newUserBtn' (click)="createUser()">Confirmar</button>
              </div>
        </div> -->
    
        <!-- <div id="viewUser">
            <mat-icon svgIcon="bubbleIcon"></mat-icon>

            <mat-form-field appearance="outline">
                <input
                    appearence='outline'
                    matInput
                    value="{{level(selectedUser.level)}}"
                    [disabled]='true'
                    autocomplete="off"
                />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <input
                    appearence='outline'
                    matInput
                    value="{{selectedUser.name}}"
                    [disabled]='true'
                    autocomplete="off"
                />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input
                    appearence='outline'
                    matInput
                    value="{{selectedUser.email}}"
                    [disabled]='true'
                    autocomplete="off"
                />
            </mat-form-field>

            <div id="buttonsDiv">
                <button mat-stroked-button color="basic" id='newUserBtn'>Editar</button>
                <button mat-stroked-button color="warn" id='newUserBtn'>Remover</button>
                <button>Recuperar Senha</button>
            </div>
        </div> -->
    
        <div id='editUser' *ngIf="viewPages.edit">
            <mat-icon svgIcon="bubbleIcon"></mat-icon>

            <mat-form-field appearance="outline">
                <mat-label>Nivel da Conta</mat-label>
                    <mat-select [(ngModel)]="selectedValue" name="level">
                        <mat-option *ngFor="let level of levels" [value]="level">
                            {{level}}
                        </mat-option>
                    </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <input
                    appearence='outline'
                    matInput
                    value="{{selectedUser.name}}"
                    placeholder="Nome"
                    autocomplete="off"
                />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <input
                    appearence='outline'
                    matInput
                    
                    value="{{selectedUser.email}}"
                    placeholder="e-mail"
                    autocomplete="off"
                />
            </mat-form-field>

            <div id="buttonsDiv">
                <button mat-raised-button color="basic" id='newUserBtn'>Cancelar</button>
                <button mat-raised-button color="primary" id='newUserBtn'>Confirmar</button>
            </div>
        </div>
    </div>
</div>