<div style="display: flex; margin-top: 40px;">
  <div style="width: 60%;" id="">
    <h1 style="color: #f67b09; font-weight: 600;">
      Pagamento
    </h1>

    <div style="margin-left: 24px;">
      <div class="group-field">
        <mat-form-field class="input-field" appearance="outline">
          <mat-label>Credito</mat-label>
          <input type="number" matInput />
        </mat-form-field>
        <mat-form-field class="input-field" appearance="outline">
          <mat-label>Debito</mat-label>
          <input type="number" matInput />
        </mat-form-field>
        <mat-form-field class="input-field" appearance="outline">
          <mat-label>Dinheiro</mat-label>
          <input type="number" matInput />
        </mat-form-field>
        <mat-form-field class="input-field" appearance="outline">
          <mat-label>Cheque</mat-label>
          <input type="number" matInput />
        </mat-form-field>
      </div>
      <div class="group-field">
        <mat-form-field class="input-field" appearance="outline">
          <mat-label>Descontos</mat-label>
          <input type="number" matInput />
        </mat-form-field>
        <mat-form-field class="input-field" appearance="outline">
          <mat-label>Juros</mat-label>
          <input type="number" matInput />
        </mat-form-field>
        <mat-form-field class="input-field" appearance="outline">
          <mat-label>Troco</mat-label>
          <input type="number" matInput />
        </mat-form-field>
      </div>
      <div class="group-total">
        <div>
          <h1 style="display: inline; font-weight: 900;">A receber</h1>
          <h2>R$ 200,00</h2>
        </div>
        <div>
          <h1 style="display: inline; font-weight: 900;">Valor Pago</h1>
          <h2>R$ 200,00</h2>
        </div>
        <div>
          <h1 style="display: inline; font-weight: 900;">Valor Total</h1>
          <h2>R$ 200,00</h2>
        </div>
      </div>
    </div>
  </div>

  <div style="display: flex; justify-content: center; width: 40%;">
    <img id="part-client-img" style="width: 35%;" src="./../../../../../assets/cartao.svg" />
  </div>
</div>
